/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2019, 11:34:25
    Author     : nerzur
*/

div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
}
.dataTables_wrapper .dataTables_filter {
    width: 100%;
}

.pagination > .active > a {
    //  background-color: #00c292; //Verde
    background-color: #0088cc; //Azul
    //  border-color: #00c292; //Verde
    border-color: #0088cc; //Azul
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    //   background-color: #00c292; //Verde
    background-color: #0088cc; //Azul
}

.nk-int-st input[type="text"], .nk-int-st textarea, .nk-int-st [type="number"], .nk-int-st [type="password"] {
    padding: 12px;
}

#scrollUpCustom {
    background-image: url("#{resource['images:top.png']}");
    bottom: 65px;
    right: 18px;
    width: 38px; /* width of the custom image */
    height: 38px; /* height of the custom image */
    outline: none;
}

/**
*  Cambio de colores de la interfaz de verde a azul
**/
.header-top-area, .footer-copyright-area {
    background: #0088cc;
}

a {
    color: #f5f5f5;}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 10px 15px;
}

.nav.notika-top-nav>li>a:focus, .nav.notika-top-nav>li>a:hover {
    background-color: #34a3da;
}

.nav.notika-top-nav .open>a, .nav.notika-top-nav .open>a:focus, .nav.notika-top-nav .open>a:hover {
    background: #34a3da;
}

.form-group {
    margin-bottom: 0px;
}

.nk-int-st:not([class*=has-]):after{
    background: #34a3da;
}

.btn-success.notika-btn-success, .btn-success.success-icon-notika{
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success.notika-btn-success:hover, .btn-success.success-icon-notika:hover {
    background: #5cb85c;
}

/**
Cambiar colores de los modal
**/
.modal-header{
    color: white;
    text-align: center;
    background: #0088cc;
    padding: 5px;
}

.modal-header h4{
    margin-top: 10px
}

.modal-body{
    background: #f6f8fa;
}

.modal-footer{
    background: #f6f8fa;
}

button.close{
    font-size: 40px;
}

.nav-tabs.notika-menu-wrap {
    background-color: #08c;
}

ul.notika-menu-wrap li a{
    color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #000;
}

body {
    background: #e5e7e8;
}

/**Block-UI**/
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    } 
}

.ui-widget-content {
    background: transparent;
    border: none;
}

a:hover{
    color: black;
}

.nk-datapk-ctm label{
    font-size: 14px;
}

@media (min-width: 992px){
    .nav.navbar-nav.notika-top-nav{
        margin-top: 15px;
    }
}

