<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true">
        <!--Rulers for common pages-->
        <security:intercept-url pattern="/pages/index.xhtml" access="isAuthenticated()"/>
        <security:intercept-url pattern="/pages/Perfil.xhtml" access="isAuthenticated()"/>
        <security:intercept-url pattern="/pages/SearchResults.xhtml" access="isAuthenticated()"/>
        <security:intercept-url pattern="/resources/**" access="permitAll()"/>
        <security:intercept-url pattern="/fonts/**" access="permitAll()"/>
        <security:intercept-url pattern="/jakarta.faces.resource/**" access="permitAll()"/>
        <security:intercept-url pattern="/login.xhtml" access="permitAll()"/>
        <security:intercept-url pattern="/pages/errorPages/**" access="permitAll()"/>

        <!--Rulers for Admin Pages-->
        <security:intercept-url pattern="/pages/adminPages/**" access="hasRole('ROLE_ADMIN')"/>

        <!--Rulers for Centro Pages-->
        <security:intercept-url pattern="/pages/centroPages/**" access="hasRole('ROLE_ADMIN')"/>

        <!--Rulers for Centro Pages-->
        <security:intercept-url pattern="/pages/matriculaPages/**" access="hasRole('ROLE_ADMIN')"/>

        <!--Rulers for Plan de Estudio Pages-->
        <security:intercept-url pattern="/pages/planEstudioPages/**" access="hasRole('ROLE_ADMIN')"/>

        <!--Rulers for Estudiantes Pages-->
        <security:intercept-url pattern="/pages/estudiantePages/**" access="hasRole('ROLE_ADMIN')"/>

        <!--Configuration of login and logout pages-->
        <security:form-login login-page='/login.xhtml' default-target-url='/pages/index.xhtml'
                             always-use-default-target='true'/>
        <security:logout logout-success-url="/login.xhtml" delete-cookies="JSESSIONID"/>

        <security:session-management>
            <security:concurrency-control max-sessions="2"/>
            <!--            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>-->
        </security:session-management>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>

            <security:jdbc-user-service data-source-ref="securityDataSource"/>
            <security:password-encoder ref="passwordEncoder"/>
            <!--                <security:password-encoder hash="sha-256"/>-->
            <!--                 <security:salt-source user-property="username"/> -->
            <!--            </security:password-encoder>-->
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="passwordEncoder"
            class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <!--Configuration of DB source to login-->
    <bean id="securityDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/SIGENU_EaD"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>
</beans>